@mixin flex {
  display: flex;
}

@mixin flex-wrap--wrap {
  flex-wrap: wrap;
}

@mixin jc--center {
  justify-content: center;
}

@mixin ai--center {
  align-items: center;
}

@mixin ac--center {
  align-content: center;
}