@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import 'light.scss';
@import 'dark.scss';
@import 'pages/styles.scss';
@import 'components/styles.scss';

html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;

  .fullpage {
    min-height: 100vh;
  }

  .w-50{
    width: 50%;
  }  
}
